body{
    font-family: 'Shantell Sans', cursive;    
     
}

#title{
    background-color: rgb(207, 221, 248);
}
.row h1{
    line-height:1.5;
    font-size: 3rem;
    color: darkred;
}
.row{
    padding: 6% 6%;}

.navbar-brand{
    font-family: 'Shantell Sans', cursive;
    font-weight: bold;
    margin-left: 40px; 
}
.navbar-item{
    text-align: center;
}
.nav-item{
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}
.nav-link{
    color: aquamarine;
}
.btn{
    margin: 5px;
    margin-top: 10px;
}
.dog{
    transform: rotate(10deg);   
    margin: 8%;
    width: 300px;
    position: relative;
    left: 120px;
}
#feature{
    text-align: center;
    padding: 20px;
    background-color: rgb(240, 224, 203);
}
#icon{
    padding: 5%;
    color: red;
}
h3{
    color: aqua;
}
#icon:hover{

    color: rgb(8, 8, 8);
}
#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color:rgba(255, 0, 0, 0.555);
    color: white;
}
.Testimonials{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    

}
#testimonials h2{
    line-height: 70px;

}
#press{
    background-color:rgba(255, 0, 0, 0.555);
    color: white;
    padding: 3% 5%;

    text-align: center;
    
}
.press-logo{
    width: 20%;
    margin: 20px 20px ;
}
.card-body{
    text-align: center;
}
#pricing .card-header{
    text-align: center;
    background-color: aqua;
}
#pricing,h2,p{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#pricing{
    background-color: rgb(233, 187, 51);
}
#footer{
    background-color: rgb(5, 5, 5);
    text-align: center;padding:26px ;
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card{
    margin: 3%;
}